extends ./layouts/common.pug

block content
    .d-flex.h-100.justify-content-center.align-items-center.flex-column
        .p-5.shadow.rounded-5(style="height:30rem;width:50rem")
            h1.mb-5.text-center Messenger Fake
            form(action="/chat" method="get")
                .mb-3
                    label.form-label(for='username') Username
                    input#username.form-control(type='text'  name="username")
                .mb-3
                    label.form-label(for='room') Room
                    input#room.form-control.me-3.mb-4(type='text'  name="room")
                    .text-center
                        button.btn.btn-dark.me-3(type="submit") Join